<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
 	<% if user_signed_in? %>
			<div id="logo" alt="Logo">
				<img src="/assets/images/logo.png">
			</div>


	 	<% else%>
			<div id="logo" alt="Logo">
				<img src="/assets/images/logo.png">
			</div>
	<% end %>

</header>

<%= yield %>

</body>
</html>
