<div id="myCarousel" class="carousel vertical slide"  data-ride="carousel" data-interval="false".>
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner" role="listbox">
    <div class="active item">
     <section>
       
     </section>>
    </div>
    <div class="item">
      <section>
        
      </section>>
    </div>
    <div class="item">
      <section>
        
      </section>>
    </div>
  </div>
</div>

