

<ol class="homeindicator" >
  <li><a href="#home1"  >a</a></li>
  <li><a href="#home2" id="clickme">a</a></li>
  <li><a href="#home3" >a</a></li>
</ol>
<section class="homepageone" id="home1">

  <%= link_to "login", new_user_session_path %>
  <%= link_to "r user", new_user_registration_path(role:"user")%>
  <%= link_to "r company", new_user_registration_path(role:"company") %>
  <!-- <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="inner cover">
          <h1 class="cover-heading">Desparchate</h1>
          <p class="lead">Cambia tu desparche hoy</p>
          <p class="lead">
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p class="lead">Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          </div>
        </div>

      </div>
    </div>
  </div> -->
  
</section>
<section class="homepageone" id="home2">
  <div style="background-color: red;height:100%">
    hola
    <!--   <ol class="homeindicator">
        <li><a href="#home1" >a</a></li>
        <li><a href="#home2" >a</a></li>
        <li><a href="#home3" >a</a></li>
      </ol> -->
    </div>
  </section>
  <section class="homepageone" id="home3">
    l
    <!-- <ol class="homeindicator">
      <li><a href="#home1" >a</a></li>
      <li><a href="#home2" >a</a></li>
      <li><a href="#home3" >a</a></li>
    </ol> -->
  </section>

